.btn {
  color: white;
  font-weight: 700;
  display: inline-block;
  padding: 16px 65px;
  border: none;
  border-radius: $button-radius;

  &--primary {
    background-color: $color-primary;
    border-radius: $button-radius;
    box-shadow: 3px 10px 14px $color-primary;
  }

  &--redish {
    background-color: $color-redish;
  }

  &--green {
    background-color: $color-green;
  }

  &--large {
    padding: 22px 155px;
  }
}